<p id="notice"><%= notice %></p>

<h1>All Scores</h1>

<table>
  <thead>
    <tr>
      <!--<th>GameID</th>-->
      <th>Name</th>
      <th>Points</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @game.scores.empty? %>
          <br>
      <% @game.scores.each do |score| %>
        <tr>
          <td><%= score.name %></td>
          <td><%= score.points %></td>
          <td><%= score.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to 'Show', game_score_path(game_id: @game.id, id: score.id) %></td>
            <% if current_user && current_user.is_admin? %>
            <td><%= link_to 'Destroy', game_score_path(game_id: @game.id, id: score.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    <% end%>
  </tbody>
</table>

<br />
<%= link_to 'New Score', new_game_score_path(game_id: @game.id) %> |
<%= link_to 'Back to Games', games_path %>
<br />
<br />