<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
<html>
<head>
  <title>Leaderboards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="notifications">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <ul class="login-links">
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
  <br>
  <div class="title">
    Leaderboards
  </div>
  <div class="container">
    <div class="menu">
      <% unless @top_scores.empty? %>
        <ul class="nav-links">
          Top 5 Scores in <%= @top_scores_game %>
              <br />
              <br />
            <% @top_scores.each do |score| %>
              <br />
              <li><%= link_to "#{score.points} scored by #{score.name}", game_score_path(game_id: @top_scores_game.id, id: @score.id)  %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
          <br>
    </div>
    <div class="clear"></div>
  </div>
  

</body>
</html>